.button {
  max-width: 15rem;
  font-size: 2rem;
  color: white;
  padding: 1rem 2rem;
  border-radius: 50rem;
  border: none;
  margin-top: 0rem;
  background: rgb(255, 31, 124);
  background: linear-gradient(
    87deg,
    rgba(255, 31, 124, 1) 0%,
    rgba(255, 102, 0, 1) 100%
  );
}

@media (max-width: 600px) {
  .button {
    max-width: 15rem;
    font-size: 1.4rem;
    color: white;
    padding: 1rem 2rem;
  }
}
