.categoryName {
  font-size: 2.4rem;
  margin: 3rem auto;
  //   text-align: right;
  color: #111;
  // font-family: "Kaushan Script", cursive;
}
.container {
  /* background-color: palevioletred; */
  margin: 3rem;
}

@media (max-width: 800px) {
  .container {
    margin: 0rem;
  }
}
