.categoryName {
  font-size: 2.4rem;
  margin: 3rem auto;
  color: #111;
}
.container {
  font-size: 1.4rem;
  margin: 2rem;
}
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}
.description {
  /* background-color: green; */
  padding: 2rem;
}
.cityreviews {
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
}
.cityreviewsbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.hotelname {
  font-size: 2.4rem;
  font-weight: 700;
}
.photos {
  text-align: center;
  align-items: center;
}
.photo {
  height: 30rem;
  width: 30rem;
  object-fit: cover;
  border-radius: 1.4rem;
  margin-bottom: 1rem;
}

.descriptiontext {
  margin-top: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

.facilities {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 0.2rem;
}
.facicon {
  font-size: 1rem;
  margin-right: 0.6rem;
  transform: scale(1.2);
}
.checkIn {
  text-align: end;
}
.title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

@media (max-width: 800px) {
  .container {
    font-size: 1.2rem;
    margin: 0rem;
    .grid {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .description {
        padding: 0rem;
        .facilities {
          margin-top: 2rem;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 0.2rem;
        }
      }
      .photo {
        height: 30rem;
        width: 100%;
        border-radius: 1rem;
      }
    }
  }
}
