* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	/* 1rem=10px=62,5% */
	font-size: 62.5%;
}

.container {
	font-size: 1.6rem;
	/* background-color: palevioletred; */
	margin: 2rem;
}
.grid {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 2rem;
}
.description {
	/* background-color: green; */
	padding: 2rem;
}
.cityreviews {
	/* background-color: yellow; */
	display: flex;
	justify-content: space-between;
}

.hotelname {
	font-size: 2.4rem;
	font-weight: 700;
}
.photos {
	text-align: center;
	align-items: center;
}
.photo {
	height: 30rem;
	width: 30rem;
	object-fit: cover;
	border-radius: 1.4rem;
	margin-bottom: 1rem;
}

.descriptiontext {
	margin-top: 2rem;
	text-align: justify;
	text-justify: inter-word;
}

.facilirties {
	margin-top: 2rem;
	/* background-color: aqua; */
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	gap: 0.2rem;
}
.facicon {
	font-size: 1rem;
	margin-right: 0.6rem;
	transform: scale(1.2);
}
.checkIn {
	text-align: end;
}
.title {
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-weight: 600;
}
